/* Header styles */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-right {
    gap: 3rem;
}

.header-left {
    gap: 2rem;
}

.header-left img {
    width: 50px;
    height: 50px;
}

.header-right button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.header-right button:hover {
    background-color: #0056b3;
}

h1 {
    margin: 0;
}

button {
    width: auto !important;
    margin: 0 !important;
}